*,
::before,
::after {
  padding: 0;
  margin: 0
}

html {
  font-size: 62.5%;
  box-sizing: border box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

#header {
  width: 100%;
  height: 15em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top:0
}

#header-img {
  margin: 5%;
}

nav {
  padding-right: 5%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  flex-wrap: wrap;
  
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
}

nav a:hover {
  color: red;
  background-color: white;
  
}


main {
  padding-top: 20em
}

#productheader {
  font-size: 2em;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em


}

.product {
  padding: 1em;
}

.product p {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

.productname {
  margin-top: .75em
}

.productprice {
  color: red;
}


iframe {
  display: block;
  width: 560px;
  margin: 5em auto
}

#email-section {
  background-color: black;
  height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center
}


input, #emailheader {
  display: block;
  margin: 1em auto;
}

#email {
  height: 1.5em;
}

#emailheader, #contact-info {
  color: white;
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.footinfo {
  padding: .25em
}

@media (max-width: 350px) {

  #header {
    width: 100%;
    height: 30em;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top:0
  }

  #header-img {
    margin: 5%;
  }

  nav {
    padding-right: 5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  
  }
  main {
  padding-top: 35em
}
}