* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.75em;
}

h1, p {
    text-align: center;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h2 {
    font-weight: 500;
    text-align: center;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

ul {
    display: table;
    margin: 0 auto;
}