body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(https://lh3.googleusercontent.com/SYMOvBQSY8-PiYd3FPRLVuUZofTlPWJ4P3xCPYcik_BptQJ24JwQk5U6YRptae82ooB4AslujRqEj6aY3gp-bSEwXOYsbd_bgh2upddDfwlIEJtf7-w0It5odADaMjQcFZzSwLDHfRUHI4lIHioVeXu3ZtRBh8JwSVi_6hjOAZ40-9J_qgtrDnlA21JEDII8CnBs85M4ko2DXaPx0UvVriAX_N6L846Mpf2QaSPxA8jGxDHJcNHqPvd9L4G9DOVfpjDFzilpIzxXlD15oUE3wNwQjF0xAtLjuVaerPp8GT6FUavbTcCjDdiJUsC0p6_6Rr_O3Az6G0bNQ3ZXlyAXSbUsb6GDCwYt4AO_GUhxi28gxxc7noUtbY0ITNZAY5K2F19_gDTxElKqIke7yqumc8HHAsKqmPvsWZJayLrbYIX9aKlXvRyzHlv42jbOkqPnu98QGfgttF6uMO_0EyjbEaQAYmBBxi5O3cbo_IuRcc1t1UXh7PuKFPepEqgIbzzgGO46TYMC5cljQ3TVYez8WkXYfPpS4_hcgojfIE9F5--xamJQLl2jZ1IbDjjRLvWHcJor8UTJfmD4t3aFXgDZTY-sHl7KYwmaJ5wRRuZWgKzdFtPKwoBTfOpbORw457zku_HdAyGSoWwVZRfdvVe-JnNJuRFKfhODcFLSK4gFdKtIaLWgYYCPzTg8UpnCAYOhkq_z92x68OVZYlRRYD6e1UgxSXUjuJwt2fb35jxEOMv8LVRpJ-KZDCtPm0itbeb6t-LCiZD3DQ6TgxJAK-ZDqYR2wIFSgToZZMGrAmO-ePbR9cXXV9H4AjIWZHI1kHa9Qi0Fz-mEgO3FEuwOTbGUBprHmTUNWvTm2vM_tQptl6iRRDy4s5w_7UTTaQHQWZ2pEzS-oQOqTAkDkwZNXWs6GWFbK7gLweLcE9OwUYypR2RE4PBx2rl4aB7z8_ZHJeoI4YddCHa-48vW8Ddz3hJW=w1319-h880-no?authuser=0);
  background-size: cover;
  background-position: center;
  color: #EFE6DD;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: -.75rem;
}

p {
  font-style: italic;
  margin-bottom: 2rem;
  font-weight: 300;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(12, 25, 29, 0.9);
  border-radius: 5px
}

fieldset {
  border: 0;
  padding-top: 1rem;
}

label {
  display: block;
  padding: 0 0 .5rem 0;
}

input:not(.inline),
select,
textarea {
  display: block;
  margin: 0.5rem auto 0.5rem auto;
  width: 100%;
  min-height: 2.5em;
}

input,
select,
textarea {
  border: 1px solid #EFE6DD;
}

label[id='lmk'] {
  padding-top: .5rem
}

label[id='termstext'],
label[id='honesty'] {
  font-size: 14px
}

a {
  color: #EFE6DD;
}

.inline {
  display:inline;
}

input[type='submit'] {
  font-size: 1.1rem;
  background-color: #E84855;
  border-color: #E84855;
  min-width: 300;
  color: #EFE6DD;
}