body {
    color: #59656F;
    background-color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    width: 100%;
  }
  
  header {
    color: black;
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
    margin: 10px;
  }
  
  
  
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: solid;
    border-color: #59656F;
    padding-right: 1em;
  }
  
  nav {
    display: block;
  }

  
  
  #navbar ul {
    font-size: 1.2em;
    list-style: none;
    padding: 0;
    height: 100%;
  }
  
  #navbar li {
    color: #59656F;
    border-top: 1px solid;
    width: 100%;
    padding: 0.5em;
  }
  
  #navbar li:hover {
    cursor: pointer;
  }
  
  li a {
    color: inherit;
    text-decoration: none;
  }

  .icon {
    display: none !important;
  }

  i[class='icon'] {
    display: none;
  }
  
  
  main {
    position:absolute;
    top:0;
    left: 300px;
  }
  
  #main-doc header {
    text-align: left;
  }
  
  #contact_information article p a {
    color: #FF331F
  }
  
  #main-doc p {
    line-height: 1.25;
    padding-left: 20px
  }
  
  #main-doc ul {
    padding-left: 60px;
  }
  
  
  
  
  @media (max-width: 600px) {
    #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    border-right: solid;
    border-color: #59656F;
    padding-right: 1em;
  }
  
  nav {
    display: block;
  }  

  .icon {
    display: inline-block !important;
  }
  
  .text {
    display: none;
  }
  
  #logo {
    width: 50px;
    height: 50px;
  }
  
  
  #navbar ul {
    font-size: 1.2em;
    list-style: none;
    padding: 0;
    height: 100%;
  }
  
  #navbar li {
    color: #59656F;
    border-top: 1px solid;
    width: 100%;
    padding: 0.5em;
    text-align: center;
  }
  
  #navbar li:hover {
    cursor: pointer;
  }
  
  li a {
    color: inherit;
    text-decoration: none;
  }
  
  main {
    position:absolute;
    top:0;
    left: 75px;
  }
  }
