:root {
    --black: #04080F;
    --white: #DAE3E5;
    --pink: #D3AB9E;
    --blue: #92DCE5;
    --purple: #5E4AE3;
    linear-gradient()
  }

  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #DAE3E5;
  }
  
  .nav {
    width: 100%;
    position: fixed;
    background: linear-gradient(
        90deg,
        var(--purple),
        var(--pink),
        var(--blue)
      );
    top: 0;
    left: 0;
    padding: 10px 0;
  }
  
  .navdiv {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 100%;
    
  }
  
  .headerlink {
    text-decoration: none;
    color: var(--black);
    font-size: 22px;
    text-transform: uppercase;


    font-weight: 800;
  }
  
  #welcome-section {
    width: 100%;
    height: 100vh;
  }

  .textbox {
    padding: 30vh 2em;
  }

  .bigtext {
    font-size: 44px;
    font-weight: 800;
    line-height: 0.25em;
  }

  .gradline {
    width: 230px;
    height: 5px;
    border: 0;
    background: linear-gradient(
      90deg,
      #5E4AE3,
      #D3AB9E,
      #92DCE5
    );
    margin-bottom: 5px;
  }

  #projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

  .project-tile {
    width: 100vw;
    aspect-ratio: 1/1;
    background-size: cover;
    position: relative;
  }

  .spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }

  #image1 {
    background-image: url(https://i.gyazo.com/29ddadb7bfae2afd56a7e19b01c2ebb5.png);
  }

  #image2 {
    background-image: url(https://i.gyazo.com/c871268be41ba7d99fc2f6a9c7fc731a.png);
  }

  #image3 {
    background-image: url(https://i.gyazo.com/4e32f1aeb6a4a8b608c73c64c8eeb4f2.png);
  }

  #contact-section {
    width: 100vw;
    height: 100vh;
    background-color: #04080F;
    color: #DAE3E5;
  }

  #contactcontainer {
    padding: 10vh 4em;
    margin: 0 auto;
  }

  #contactme {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  #contactgrad {
    width: 180px;
  }

  #contactdesc {
    font-size: 16px;
    width: 80vw;
  }

  input, textarea {
    width: 300px;
    height: 3em;
    margin-bottom: 10px;
    background-color: #091323;
    border: 0;
    font-family: "Varela", sans-serif;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    padding-top: 10px;
    height: 150px;
  }

  .border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }
  .border-gradient-pink {
    border-image-source: linear-gradient(
      90deg,
      var(--purple),
      var(--pink),
      var(--blue)
    );
  }

  #send {
    background: none;
    color: #DAE3E5;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem 2rem;
    height: 4em;
  }

  #madeby {
    text-align: center;
  }


  @media (min-width: 576px) {

    .nav {
      width: 100%;
      position: fixed;
      background: linear-gradient(
        90deg,
        var(--purple),
        var(--pink),
        var(--blue)
      );
      top: 0;
      left: 0;
      padding: 10px 0;
    }
    
    .navdiv {
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      margin-right: 5%;
      width: 100%;
    }

    .headerlink {
      font-family: "Varela", sans-serif;
      padding: 0 50px;
      
    }

    #projects {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    
    }

    .project-tile {
      width: 33vw;
      aspect-ratio: 1/1;
      background-size: cover;
      
    }
  }







